*{
    margin: 0;
    padding: 0;
}


body{
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    background: #fff url(imgs/fundo.png) repeat-x;
}



.main{
    width: 750px;
    margin: 0 auto;
    
}

/* header do site */

#top{
    height: 150px;
    background: url(imgs/detalhe-topo.png) no-repeat right top;
    padding-top: 20px;
}

.logo{
    width: 152px;
    height: 66px;
    background: url(imgs/logo.png) no-repeat center;
    text-indent: -3300px;
}

ul{
    margin: 0;
    padding: 0;
    list-style: none;
    text-decoration: none;
}

#top ul{
    margin-top: 30px;
    background: #b10333;
    float: left;
}

#top ul li{
    float: left;
}

#top ul a{
    font-size: 0.9em;
    display: block;
    padding: 0.5em 1.5em;
    line-height: 2.1em;
    text-decoration: none;
    color: #fff;
    background: url(imgs/divisor.png) no-repeat left center;
}

#top ul .primeiro a{
    background-image: none;
}

#top ul a:hover {
    color: #69001d;
}

body.home #menuh a#home,
body.brasil #menuh a#brasil,
body.internacional #menuh a#internacional,
body.eco #menuh a#eco,
body.saude #menuh a#saude,
body.ciencia #menuh a#ciencia,
body.fotos #menuh a#fotos{
    color: #fff;
    background: #de003e;
    cursor: text;
}


a:link, a:visited{
    color: #b10333;
    padding:2px;
}

a:hover{
    color: #b50040;
}

/*conteudo do site */

#conteudo {
    background: #f5f5f5;
    margin-top: 60px;
}

#lateral{
    width: 180px;
    float: left;
    
    margin: 0px 0px 20px -750px;
}

 #primario {
    width: 270px;
    float: left;
   
    margin: 0px 0px 20px 195px;
}

#duas-colunas #primario {
    width: 555px;
}

#uma-coluna #primario {
    width: 750px;
    margin: auto;
}

#secundario{
    width: 270px;
    float: left;
    
    margin: 0 0 20px 15px;
}



/*caixa*/
.caixa{
    background: #f3f3f3 url(imgs/fundo-caixa.png);
    margin: 10px 0px;
    padding: 5px;
}

h2{
    font-size: 1em;
    color: #fff;
    background: #294c71;
    padding: 5px;
}

.caixa-conteudo{
    background: #fff;
    padding: 5px;
    margin-top: 5px;
}

#lateral ul a{
    font-size: 0.9em;
    padding: 3px;
    display: block;
    line-height: 30px;
    color: #000;
    text-decoration: none;
    border-bottom: 1px solid #f3f3f3;
}

#lateral ul a:hover{
    color: #a1a1a1;
    background:#f9f9f9 url(imgs/marcador.png) no-repeat left center;
    padding-left:20px ;
}

label{
    display: block;
    cursor: pointer;
}

input{
    padding: 5px;
    width: 125px;
    font-size: 0.9em;
    background-color: #fff;
    border: 1px solid black;
    margin: 5px 0px;
}

input.submit{
    width: 80px;
    color: #fff;
    background: #b10333;
    border: 2px solid #870529;
    padding: 5px;
}


img{
    border: 2px solid #dfdfdf;
}

h3{
    text-transform: uppercase;
    display: inline;
    font-size: 0.8em;
    padding: 3px;
}

.destaque h3{
    background: #b10333;
    color: #fff;
}

.entrevista h3{
    background: #de003e;
    
}

/* Formatando lista de noticia */
#lista-noticias li {
    padding: 2px;
    border-bottom: 1px solid #ccc;
    height: 62px;
}

#lista-noticias li a img {
    float: left;
    margin: 5px;
}

#lista-noticias li a  {
    text-decoration: none;
    
}

#lista-noticias li a p {
 font-size: 0.7em;
 color: #000;
}


#lista-noticias li a h3{
    font-size: 0.8em;
    padding: 0;
    color: #3e7ab9;
    background: none;
}

#lista-noticias li:hover {
    background: #eee;
    cursor: pointer;
}

/*rodape*/ 

#main-rodape{

    background: #294c71;
    padding: 20px;
}

#rodape{
    width: 750px;
    margin: 0 auto;
    color: #fff;
    font-size: 0.9em;
}